.head{
    background: linear-gradient(
        90deg,
        rgb(177, 98, 8) 0%,
        rgb(240, 178, 7) 100%
      );
    padding: 1px 0;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.title{
    color: rgb(250, 223, 199);
}

.count{
    color: rgb(139, 34, 8);
    margin-top: 5px;
    margin-bottom: 15px;
}

.finished-count{
    color: rgb(12, 109, 3);
    margin-top: 5px;
    margin-bottom: 15px;
}

.taskObj{
    color: #FFF;
    background: linear-gradient(
        90deg,
        rgb(177, 56, 8) 0%,
        rgb(240, 112, 7) 100%
      );
    width: 100%;
    height: 40px;
    border-radius: 8px 0 0 8px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0px 25px;
    transition: 0.7s ease;
}

.taskObj:hover{
    color: #fff;
    background: rgb(85, 189, 37);
    transition: 0.7s ease;
}

.taskObj-finished{
    color: rgb(88, 80, 80);
    background: rgb(45, 37, 48);
    width: 100%;
    height: 40px;
    border-radius: 8px 0 0 8px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    
}

.button{
    height: 40px;
    width: 50%;
    font-size: 20px;
    color: rgb(37, 34, 34);
    background: rgb(240, 112, 7);
    cursor: pointer;
    border: none;
    overflow: hidden;
    transition: 0.7s ease;
}
.button:hover{
    
    color: rgb(248, 240, 246);
    background: rgb(97, 48, 2);
}

.icons{
    display: flex;
    color: #fff;
    background: rgb(32, 31, 31);
    width: 100px;
    height: 40px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
}
.line{
    display: flex;
    height: 40px;
    border-radius: 8px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.line:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

/*------------RESPONSIVIDADE-----------*/
@media (max-width:699px){
    .head{
        width: 425px;
    }
    .line{
        width: 400px;
    }
}