.inicial{
    display: flex;
    min-height: 650px;
    width: 100%;
    background: rgb(49, 46, 46);
    overflow: hidden;
}

.lado-esquerdo{
    background-image: url('../../img/Fundo.jpg');
    min-height: 690px;
    width: 50%;

}


.lado-direito{
    min-height: 690px;
    width: 50%;
    background: rgb(79, 82, 79);
    overflow-y: scroll;
    height: 650px;
    padding: 5px 30px;
}

h1{
    color: #FFF;
    margin-top: 200px;
}
h2{
    color: #FFF;

}
h3{
    color: #FFF;
    margin-bottom: 100px;
}

/*------------RESPONSIVIDADE-----------*/
@media (max-width:799px){
    .inicial{
        display: grid;
    }

    h1{
        margin-top: 80px;
    }

    .lado-esquerdo{
        width: 100%;
        min-height: 400px;
    }

    .lado-direito{
        width: 100%;
    }
}
