.inicial{
    display: flex;
    min-height: 700px;
    width: 100%;
    background: rgb(49, 46, 46);
    overflow: hidden;
}

.lado-esquerdo{
    background-image: url('../../img/fundo2.jpg');
    min-height: 700px;
    width: 50%;

}


.lado-direito{
    min-height: 700px;
    width: 50%;
    background: rgb(187, 211, 185);
    overflow-y: scroll;
    height: 701px;
    padding: 5px 30px;
}

h1{
    color: #FFF;
    margin-top: 200px;
}
h3{
    color: #FFF;
    margin-bottom: 100px;
}