.tarefa-input{
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid rgb(177, 98, 8);
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}
.tarefa-input::placeholder {
    color: #e2e2e2;
  }

.botao-adicionar{
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(177, 98, 8) 0%,
    rgb(212, 156, 2) 100%
  );
  color: #fff;
  text-transform: capitalize;
  transition: background 0.5s ease;
}

/*------------RESPONSIVIDADE-----------*/
@media (max-width:1199px){
  .tarefa-input{
      width: 180px;
      
  }
}


