.inicio{
    display: flex;
    height: 500px;
    width: 400px;
    background: rgb(56, 19, 58);
    box-shadow: 10px 5px 5px black;
   justify-content: start;
    border-radius: 8px;
    padding: 10px;
}

.tarefa{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}