.app{
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 700px;
    background: #edeef3;
    text-align: center;
    margin: 118px auto;
    border-radius: 10px;
    overflow: hidden;   
}
