body{
    background: rgb(34, 33, 33);
}

.app{
    display: flex;
    flex-direction: column;
    width: 1000px;
    min-height: 350px;
    background: #edeef3;
    text-align: center;
    margin: 60px auto;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 5px 5px 5px black;  
}

/*------------RESPONSIVIDADE-----------*/
@media (max-width:1199px){
    .app{
        width: 800px;
        
    }

}

@media (max-width:799px){
    .app{
        width: 480px;
    }
}
